.search {
  width: 502px;
  /* height: 48px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; 
  margin: 0 auto;
  
  border-radius: 8px ;
  /* height: px; */
  border: 1px solid black;
}

.searchInp {
    padding: 14px 20px;
    height: 100%;
    border-radius: 8px;
    display: flex;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 400px;
    border: none;
    /* align-items: center; */
    justify-content: center;
  }

 .searchIconDiv {
  height: 100%;
  /* background-color: aqua; */
  display: flex ;
  justify-content: center;
  align-items: center;
  /* border-radius: 8px; */
  /* border-top-right-radius : 12px ; */
  /* border-bottom-right-radius : 8px ; */
 } 

/*   
  .wrapper {
    display: flex;
    align-items: stretch;
    height: 48px;
  }
  
  .searchButton {
    border-radius: 0px 8px 8px 0px;
    padding: 14px 20px;
    height: 100%;
    border: 1px solid var(--color-black);
    border-left: none;
    cursor: pointer;
    height: 100%;
  }
  
  .listElement {
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .albumTitle {
    font-size: 16px;
  }
  
  .albumArtists {
    font-size: 12px;
  }
   */