.feedbackBtn {
    height: 50px;
    width: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #34C94B;
    font-size: 18px;
    border: none;
    margin-right: 65px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
}

.feedbackBtn:hover {
    cursor: pointer;
}